{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Your ultimate documents shop!{% endblock %}
{% block body %}
<h1>This is the home page</h1>
<div>
    <p>Explore our {{ num_of_docs }} documents!</p>
</div>
{% endblock %}